
.Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 8%;
    border-right: 3px solid black;
justify-content: space-around;
}

 

    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
   
.Perfil img{
    width: 85px;
    height:85px ;
}
 .Home img{
    height: 85px;
    width: 85px;
    ;
 }
 .Mapa img{
    width: 85px;
    height:85px ;
}


.Ofertas{
    width: 100%;
    height: 100%;
}


.OfertasD{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
 gap: 40px  ;
}

.Todo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}


.OfertasD img{
    width: 80%;
    height: auto;
}
.ODD{
    width: 100%;
    height: 5%;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Aure{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    overflow-x: auto;
    
}
