
html, body{
    width: 100%;
    height: 100%;
}

.Main{
    width: 100%;
    height: 100%;
    background:linear-gradient( to bottom, #FF9500, #EF4425);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1px ;
}


.Arriba{  }

.Medio{

}


.Medio p {
    font-family: "Itim", cursive;
    font-size: 65px;
    color: #fff;
  }

.BotonI{
    background-color: #E98B66;
    color:#fff;
    border-radius: 35px;
    height: 95px;
    width: 330px;
    font-size: 65px;
    display: inline-block;       
    text-align: center;
    text-decoration: none;   
    border: 1px  solid black;   
    font-family: "Itim", cursive; 
    
}


