
html, body{
    width: 100%;
    height: 100%;
}

.Main{
    width: 100%;
    height: 100%;
    background:linear-gradient( to bottom, #FF9500, #EF4425);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1px ;
}


.Arriba{}

.Medio{

}

.Abajo{
    
}