html, body{
    width: 100%;
    height: 100%;
}

.Main{
    width: 100%;
    height: 100%;
    background:linear-gradient( to bottom, #FF9500, #EF4425);
    display: flex;
    align-items: center;
    justify-content: center;
}


.Ventana{
display: flex;
flex-direction: column;
background-color: #fff;
height: 550px;
width: 50%;
border-radius: 50px;
border: 1px solid black;
justify-content: center;
align-items: center;

}

.TextoArriba{
   font-family: 'Inter', sans-serif;

}

.Botones{
    display:flex;
    flex-direction:row ;
}

.Inputs{
        display:flex;
    flex-direction:column ;
    gap: 20px;

}




.Log-in{
    background-color: #ffffff;
    color:#000;
    border-radius: 15px;
    height: 75px;
    width: 160px;
    font-size: 16px;
    display: inline-block; 
    line-height: 75px;           
    text-align: center;
    text-decoration: none;   
    border: 2px  solid black;    
     font-family: 'Inter', sans-serif;
    }

    .Registrarse{
        background-color: #ffffff;
        color:#000;
        border-radius: 15px;
        height: 75px;
        width: 160px;
        font-size: 16px;
        display: inline-block; 
        line-height: 75px;           
        text-align: center;
        text-decoration: none;   
        border: 2px  solid black;    
         font-family: 'Inter', sans-serif;
    }
    .Contraseña{
        font-size: 16px;
        background-color: #fff;
        color:#000;
        width: 640px;
        height: 85px;
        border: none;
        outline: none;
        background-color: transparent;
         font-family: 'Inter', sans-serif;
    }
    


    .CyF{
        display: flex;
        flex-direction: row;
        height: 85px;
        width: 750px;
        border: 4px solid black;
        background-color: #fff;
        align-items: center;
        justify-content: space-evenly;
    }

    .IconoCandado{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    }


    .UsuarioL{
        font-size: 16px;
        background-color: #fff;
        color:#000;
        width: 640px;
        height: 85px;
        border: none;
        outline: none;
        background-color: transparent;
         font-family: 'Inter', sans-serif;
    }

    .UyF{
        display: flex;
        flex-direction: row;
        height: 85px;
        width: 750px;
        border: 4px solid black;
        background-color: #fff;
        align-items: center;
        justify-content: space-evenly;
    }

.IconoUsuario{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
}