html, body{
    width: 100%;
    height: 100%;
}

.Main{
    width: 100%;
    height: 100%;
    background:linear-gradient( to bottom, #FF9500, #EF4425);
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.Ventana{
display: flex;
flex-direction: column;
background-color: #fff;
height: 55%;
width: 40%;
border-radius: 50px;
border: 1px solid black;
justify-content: center;
align-items: center;
position: absolute;
top: 29%;
}

.TextoArriba{
   font-family: 'Inter', sans-serif;
   position: absolute;
   top:30% ;
left: 44%;
}


    .Registrarse{
     
         font-family: 'Inter', sans-serif;
    }
   

.IconoUsuario{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
}

 .IconoCandado{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    }

    .TasteIt{
        position: absolute;
        top: 12%;
        left: 42.6%;
        height: 15%;
        width: auto;
    }

    .Logo{
        position: absolute;
        top: 5%;
        left: 0%;
         height: 15%;
        width: auto;
    }


 .Inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-content: end;
 }

.Botones{
    height: 40%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
}


 .Input{
    width: 80%;
    height: 28%;
    border: 3.5px solid black;
    border-radius: 5px;
    padding-left: 50px;
    box-sizing: border-box;
     font-family: 'Inter', sans-serif; 
    color: black;
 }

.IconoUsuario{
    position: absolute;
    top: 43.5%;
    left: 35.8%;
    height: 4%;
    width: auto;
}

.IconoCandado{
    position: absolute;
    top: 55%;
    left: 35.8%;
    height: 4%;
    width: auto;
}

.Log-in{
width: 26%;
height: 42%;
border-radius: 13px;
background-color: #FD8806;
border: 1px solid black;
box-sizing: border-box;
padding-left: 25px;
font-family: 'Inter', sans-serif; 
    color: black;
    font-size: 14px;
}


.Registrarse{
    width: 26%;
height: 42%;
border-radius: 13px;
background-color: #ffffff;
border: 3px solid #FF9500;
font-family: 'Inter', sans-serif; 
color: black;
text-decoration: none;
font-size: 14px;
box-sizing: border-box;
padding-left: 41px;
padding-top: 19px;
}

.Mas{
position: absolute;
top: 71.8%;
left: 54%;
height: 3%;
width: auto;
}

.Icono{
transform: scaleX(-1);
position: absolute;
top: 71.8%;
left: 38.5%;
height: 3%;
width: auto;
}