


.Menu{
    display: flex;
    flex-direction: column;
    gap: 180px;
    height: 630px;
    width: 100px;
    border-right: 2px solid black;

}

    .MainM{
    height: 100%;
    width: 100%;
    }
   




.Perfil img{
    width: 85px;
    height:85px ;
}
 .Home img{
    height: 85px;
    width: 85px;
    ;
 }
 .Mapa img{
    width: 85px;
    height:85px ;
}


.Mapa{
    height: 630px;
    width: 1350px;
  
}


.Hamburguesas1 {
width: 100%;
height: 70%;
background-color: white;
z-index: 1000;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-left:2px solid black;
border-right:2px solid black;
border-top:2px solid black;


  }
  .MainM{
    width: 1350px;
    height: 90%;
    display: flex;
    flex-direction: row;
  }

  .FooterM{
    width: 1350px;
    height: 10%;
    display: flex   ;
    flex-direction: row;
    justify-content: space-around;
  }
