


.Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 8%;
    border-right: 3px solid black;
justify-content: space-around;
}

    .MainM{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    }

    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
   




.Perfil img{
    width: 85px;
    height:85px ;
}
 .Home img{
    height: 85px;
    width: 85px;
    ;
 }
 .Mapa img{
    width: 85px;
    height:85px ;
}




.Popup {
    display: none; 
    position: fixed; 
    z-index: 99999; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end; 
    align-items: flex-end;
  }
  
  .ContenidoP {
    background-color: #fefefe;
    display: flex;
    border: 1px solid #888;
    width: 92.28%; 
   height: 68%;
    border-top-right-radius: 65px;
    border-top-left-radius:65px ;
    flex-direction: column-reverse;
    
  }

  .Secciones {
  display: none;
  height: 85%;
  

}

.Secciones.Mostrada {
  display: block;
}





.Cpopup{
  position: absolute;
    top: 34%;    
    left: 8.5%;
    background: none;
    border: none;
  
}
.Cpopup img{
  height: 70px;
  width: 70px;
}

.Btns button{
    background: none;
    border: none;
    height: 9%;
    width: 30%;
    font-size: 26px;
      font-family: "Inter", sans-serif;
 font-weight:500;

}

.Btns{
  display: flex;
  flex-direction: row; 
  align-content: center;
  height: 15%;
  width: 100%;
justify-content: space-around;
border-top: 2px solid black;
align-items: center;
font-size: 100px;
}
.Data{
  position: absolute;
  top:37%;
  left:15%;
display: flex;
flex-direction: column;
gap: 1%;
}

.Direccion{
  font-size: 20px;
      font-family: "Inter", sans-serif;
 font-weight:350;
}

.Nombre{
  font-size: 25px;
      font-family: "Inter", sans-serif;
 font-weight:400;
}


.FotosL{
 
  gap: 4%;
  height: 100%;
  width: 100%;
}



.FotosL img{
  height: 35%;
width:auto;
}

.A{
  position: absolute;
  top: 330px;
  left: 180px;
}

.E{
  position: absolute;
  top: 330px;
  left: 450px;
  
}

.I{
  position: absolute;
  top: 330px;
  left: 720px;
  
}

.O{
  position: absolute;
  top: 330px;
  left: 990px;
  
}

.FotosM{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  height: 100%;
  width: 100%;
}

.FotosM img{
width: 12%;
  height: auto;
}
.Division1{
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
}
.Division2{
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100%;
}

.FotosP{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9%;
  height: 100%;
  width: 100%;
}

.FotosP img{
width: 28%;
  height:auto ;
}


.Nombre{
font-size: xx-large;
}

.Escribir{
  height: 20%;
  width: 45%;
   border: solid gray;
   border-radius: 2px;
}

.Dejar{
  height: 60%;
  width: 40%;
  border: solid darkgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.Opiniones2{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  justify-content: space-around;
}

.MapaLeaf{
  height: 100%;
  width: 100%;
}


.reseña {
  background: #f1f1f1;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reseña .Usuario112233 {
  font-weight: 300px;
  font-size: 16px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: rgb(58, 58, 58);
}
.reseña .Opinion112233 {
  font-family: 'Alegreya Sans SC', sans-serif;
  color: black;
  font-weight: 450px;
  
}

.leer{
  display: flex;
  height: 60%;
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  flex-direction: column;
  gap: 100px;
border: solid black;
}

.Unboton{
  display: none;
}

