.Menu{
    display: flex;
    flex-direction: column;
    gap: 180px;
    }
    


.Perfil img{
    width: 85px;
    height:85px ;
}
 .Home img{
    height: 85px;
    width: 85px;
    ;
 }
 .Mapa img{
    width: 85px;
    height:85px ;
}

.Mapa{
    height: 600px;
    width: 600px;
}