


.Menu{
    display: flex;
    flex-direction: column;
    gap: 180px;
    height: 630px;
    width: 100px;
    border-right: 2px solid black;

}

    .MainM{
    height: 100%;
    width: 100%;
    }
   




.Perfil img{
    width: 85px;
    height:85px ;
}
 .Home img{
    height: 85px;
    width: 85px;
    ;
 }
 .Mapa img{
    width: 85px;
    height:85px ;
}


#map {
  height: 500px;
  width: 100%;
}
