


.Menu{
    display: flex;
    flex-direction: column;
    gap: 180px;
    height: 630px;
    width: 100px;
    border-right: 2px solid black;

}

    .MainM{
    height: 100%;
    width: 100%;
    }
   




.Perfil img{
    width: 85px;
    height:85px ;
}
 .Home img{
    height: 85px;
    width: 85px;
    ;
 }
 .Mapa img{
    width: 85px;
    height:85px ;
}


#map {
  height: 500px;
  width: 100%;
}



.popup-overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stays in place even when scrolling */
    z-index: 1; /* Sits on top of other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if content is too long */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: auto; /* Center the box */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust as needed */
    max-width: 500px; /* Max width for responsiveness */
    border-radius: 8px;
    text-align: center;
  }