


.Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 6%;
    border-right: 2px solid black;
justify-content: space-around;
}

    .MainM{
    height: 100%;
    width: 100%;
    }

    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
   




.Perfil img{
    width: 85px;
    height:85px ;
}
 .Home img{
    height: 85px;
    width: 85px;
    ;
 }
 .Mapa img{
    width: 85px;
    height:85px ;
}




.Popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end; 
    align-items: flex-end;
  }
  
  .ContenidoP {
    background-color: #fefefe;
 
    padding: 20px;
    border: 1px solid #888;
    width: 91.8%; 
   height: 68%;
    border-radius: 8px;
    text-align: center;
  }

  .Secciones {
  display: none;
}

.Secciones.Mostrada {
  display: block;
}