
.Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 8%;
    border-right: 3px solid black;
justify-content: space-around;
}

 

    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
   
.Perfil img{
    width: 85px;
    height:85px ;
}
 .Home img{
    height: 85px;
    width: 85px;
    ;
 }
 .Mapa img{
    width: 85px;
    height:85px ;
}


.CerrarSesion{
    background-color: #D9D9D9;
    color:#000;
    height: 15%;
    width: 25%;
    font-size: 25px;
    display: inline-block; 
    line-height: 50px;           
    text-align: center;
    text-decoration: none;   
    border: 2px  solid black;    
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    padding-top: 20px;
}

.Spans{
    display: flex;
    flex-direction: column;
}

.Span{
font-family: "Inter", sans-serif;
color: #000;
font-size: 20px
}


.Main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    }

    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.FotoP{
    height: 45%;
    width: auto;
}
.Todo{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}