
.Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 8%;
    border-right: 3px solid black;
justify-content: space-around;
}

 

    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
   
.Perfil img{
    width: 85px;
    height:85px ;
}
 .Home img{
    height: 85px;
    width: 85px;
    ;
 }
 .Mapa img{
    width: 85px;
    height:85px ;
}


.CerrarSesion{
    background-color: #918282;
    color:#000;
    height: 50px;
    width: 200px;
    font-size: 16px;
    display: inline-block; 
    line-height: 50px;           
    text-align: center;
    text-decoration: none;   
    border: 2px  solid black;    
}

