html, body{
    width: 100%;
    height: 100%;
}



.Main{
    width: 100%;
    height: 100%;
    background:linear-gradient( to bottom, #FF9500, #EF4425);
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.Ventana{
display: flex;
flex-direction: column;
background-color: #fff;
height: 55%;
width: 40%;
border-radius: 50px;
border: 1px solid black;
justify-content: center;
align-items: center;
position: absolute;
top: 29%;
justify-content: space-around;
}

    
 .TasteIt{
        position: absolute;
        top: 12%;
        left: 42.6%;
        height: 15%;
        width: auto;
    }


.TextoArriba{
font-family: 'Inter', sans-serif;
position: absolute;
top:30% ;
left: 44%;
}






.Iniciar-sesion{
 text-decoration: none;
font-size: 14px;
box-sizing: border-box;
padding-left: 35px;
padding-top: 15px;
border-radius: 13px;
background-color: #FD8806;
border: 1px solid black;
font-family: 'Inter', sans-serif; 
width: 25%;
height: 70%;
border-radius: 12px;
color: #000;
}


.Registrarse{
 background-color: #ffffff;
border: 3px solid #FF9500;
font-family: 'Inter', sans-serif; 
color: black;
width: 25%;
height: 70%;
border-radius: 12px;
box-sizing: border-box;
padding-left: 25px;
}

.Mas{
position: absolute;
top: 74.5%;
left: 53.5%;
height: 2%;
width: auto;
}

.Icono{
transform: scaleX(-1);
position: absolute;
top: 74.5%;
left: 39.5%;
height: 2%;
width: auto;
}

.Input{
    width:80% ;
    height: 18%;
    border: 1px solid black;
    font-family: 'Inter', sans-serif; 
}
.InputR{
    width:80% ;
    height: 20%;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Inter', sans-serif; 
}

.Select{
    height: 90%;
    width: 36%;
    font-family: 'Inter', sans-serif; 
}

.Selects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 15%;
    width: 100%;
}
.vacio{
    width: 100%;
    height: 15%;
}

.Info{
    height: 50%;
    width: 100%;
    justify-content: start;
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.Botones{
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: start;
    display: flex;
    flex-direction: row-reverse;
gap: 50px;

}